body {

    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

/* formating for all img elements */
img {
    width: 350px;
    height: 250px;
    border: 2px solid #092b46;
    border-radius: 8px;
    padding: 3PX;
    background-color: #092b46;
}

/* formatting for all button elements*/
button {
    border: 2px NONE #092b46;
    border-radius: 8px;
    background-color: #4c7273;  
}

/* background color to the main page background */
main{
    background: #86b9b0;
}

/* formatting for top container */
#topSection{

    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
}

#bottomSection{
    margin-bottom: 0px;
}



/* formatting for cards that are buttons and images */
#card {
    margin: 20px;
    padding: 20px;    
}

/* formatting for play, pause, stop buttons */
#buttonPlay, #buttonStop, #buttonPause, #about {

    border: 2px solid #092b46;
    border-radius: 8px;
    background-color: #d0d6d6;
}

/* formatting for play, pause, stop buttons plus the displayTime */
#buttonPlay, #buttonStop, #displayTime, #buttonPause{
    margin: 20px;
    padding: 20px;
}

.redBoarder {

    border-color: red;
}

/* overwriting bootstrap padding */
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* adding my own formatting along with bootstrap container */
.myContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #4c7273;
    border-style: solid;
    
    border: 3px solid #092b46;
    border-radius: 8px;

    margin: 20px;
    margin-top: 0px;;
    
}

.box {
    width: 250px;
    height: 250px;
}

/* centers current song text */
#currentSong {
    text-align: center;
}

/* centers modal header text */
.modal-title{
    text-align: center;
}

#about{

}

