body {
    display: block;
    margin: 0px;
}

img {
    width: 350px;
    height: 250px;
    border: 2px solid #092b46;
    border-radius: 8px;
    padding: 3PX;
    background-color: #092b46;
}

button {
    border: 2px NONE #092b46;
    border-radius: 8px;
    background-color: #4c7273;
   
}




main{
    
    background: #86b9b0;
}


#topSection{

    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-style: solid;
}


#card {
    margin: 20px;
    padding: 20px;    
}

#buttonPlay, #buttonStop, #buttonPause {

    border: 2px solid #092b46;
    border-radius: 8px;
    background-color: #d0d6d6;
}


#buttonPlay, #buttonStop, #displayTime, #buttonPause{
    margin: 20px;
    padding: 20px;
}

.redBoarder {

    border-color: red;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.myContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #4c7273;
    border-style: solid;
    
    border: 3px solid #092b46;
    border-radius: 8px;

    margin: 20px;
    margin-top: 0px;;
    
}

.box {
    width: 250px;
    height: 250px;
}

#currentSong {
    text-align: center;
}


.modal-title{
    text-align: center;
}